body {
  font-family: 'Roboto Slab',monospace;
  background-color: rgb(255, 201, 51);
  min-height: 100dvh;
  min-width: 100dvw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body,
#header,
#footer,
.recipes,
.card,
.largeCard {
  display: flex;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
}

img {
  border-radius: 6px;
  max-width: 60vw;
}

#header{
  width: 10rem;
  margin: 0px auto 40px;
  font-size: 64px;
  font-weight: 900;
  justify-content: center;
 
}

.recipes {
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}

.card {
  flex:1 1 0;
  background-color: rgb(255, 248, 239);
  flex-direction: column;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #bb5c1d71, -5px -5px 10px #ffe38983; 
  color: rgb(54, 27, 1);
}

.largeCard {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 1000px;
  background-color: rgb(255, 248, 239);
  border-radius: 12px;
  box-shadow: 5px 5px 10px #bb5c1d71, -5px -5px 10px #ffe38983; 
  color: rgb(54, 27, 1);
}

.container {
  width: 200px;
  text-align: left;
}

.recipe-name {
  margin: 10px 0;
}

.footer {
  justify-content: center;
  height: 40px;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 100px;
}

.grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.05); 
  }

.colorChange a {
  color: rgb(0, 0, 0);
  transition: color 275ms ease-in-out; 
}

  .colorChange a:hover {
    color: rgb(255, 248, 239);
  }

.backButton {
  font-size: 24px;
  font-weight: 900;
  margin: 30px auto;
  border: none;
}